<div>
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-8"></div>
        <div class="pure-u-1 pure-u-md-3-4" style="margin-bottom: 30px;">
            <h1>About the Application</h1>
        </div>
        <div class="pure-u-1 pure-u-md-1-8"></div>
    </div>

    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-8"></div>
        <div class="pure-u-1 pure-u-md-3-4">
            <div class="pure-g" style="margin-bottom: 30px;">
                <div class="pure-u-1 pure md-1-1">
                    <div class="aboutPadding">
                    <h4>Candivision is a data visualization application for the 2016 Presidential race. The central feature of this site is a series of real-time visualizations based on streaming Twitter data.</h4>
                    </div>
                </div>
            </div>
        </div>    
    </div>

    <hr>

    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-8"></div>
        <div class="pure-u-1 pure-u-md-3-4" style="margin-bottom: 30px;">
            <h1>About the developers</h1>
        </div>
        <div class="pure-u-1 pure-u-md-1-8"></div>
    </div>
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-8"></div>
        <div class="pure-u-1 pure-u-md-3-4">
            <div class="pure-g" style="margin-bottom: 30px;">
                <div class="pure-u-1 pure-u-md-1-4">
                    <img ng-src="/css/assets/devTeam/chuck.jpg" class="img-circle pure-img" />
                </div>
                <div class="pure-u-1 pure-u-md-3-4">
                    <div class="aboutPadding">
                    <h2>Chuck Dishmon: Project Manager</h2>
                    <p>I'm a logic professor turned software engineer and enjoy building challenging web applications.<br>I'm honored to graduate Coder Camp's Full Stack JavaScript immersive under a full scholarship. Over the course of the program I've built several solo and collaborative products and found a particular affinity for Node.js and AngularJS. <br> I'm looking forward to making a positive contribution in the industry and welcome new opportunities in software engineering and web development. I can be contacted directly at chuckdishmon@gmail.com.</p>
                    </div>
                </div>
            </div>
            <div class="pure-g" style="margin-bottom: 30px;">
                <div class="pure-u-1 pure-u-md-1-4">
                    <img ng-src="/css/assets/devTeam/jackie.jpg" class="img-circle pure-img" />
                </div>
                <div class="pure-u-1 pure-u-md-3-4">
                    <div class="aboutPadding">
                    <h2>Jackie Prager: Front-End Lead</h2>
                    <p>I am a full-stack engineer with a passion for UI/UX. I graduated from University of San Francisco with a degree in Politics and a concentrated minor in legal studies. I wanted to use my knowledge of technology to help make the world of politics more transparent as well as making access to information more universal.<br>Since joining Coder Camps, I've built many fully functional full-stack applications using the MEAN Stack, both individually and collaboratively. I'm excited to continue creating applications and look forward to my next opportunity in web development.<br>I can be contacted directly at jaclyn.prager@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="pure-g" style="margin-bottom: 30px;">
                <div class="pure-u-1 pure-u-md-1-4">
                    <img ng-src="/css/assets/devTeam/dan.png" class="img-circle pure-img" />
                </div>
                <div class="pure-u-1 pure-u-md-3-4">
                    <div class="aboutPadding">
                    <h2>Dan Pottorff: Back-End Lead</h2>
                    <p>I am a native of the Bay Area who grew up with a passion for technology. Using computers to record and produce music for over a decade, I am no stranger to spending long hours working in front of a screen. In recent years I began to develop a curiosity for understanding how exactly computers are able to run the fancy programs and games I have been using all my life. <br>This led me to discover the world of code, the hidden language within our machines. Starting from scratch with codeacademy I began learning the basics of code and taking a liking to logic and algorithms. After looking into programming bootcamps I wound up attending Coder Camps and honing my skills through working in groups and constructing full stack projects.</p>
                    </div>
                </div>
            </div>
            <div class="pure-g" style="margin-bottom: 30px;">
                <div class="pure-u-1 pure-u-md-1-4">
                    <img ng-src="/css/assets/devTeam/ben.png" class="img-circle pure-img" />
                </div>
                <div class="pure-u-1 pure-u-md-3-4">
                <div class="aboutPadding">
                    <h2>Ben Doyle: Back-End Engineer: Payments</h2>
                    <p>I recently retired from my career as a Yosemite Park Ranger to be with my wife and start a family in the Bay Area. <br> Since I was I child I have wanted to speak with machines. I also love puzzles. Writing code is an amalgamation of these pursuits.  <br> At Coder Camps I took an opportunity to learn powerful tools like Node.js, Angular and Bootstrap. I have created useful applications that I am proud of. Now, I am excited to take the next step in my career in software engineering and web development. <br> I am looking for a great team to learn from, collaborate with and to give my best to. I can be contacted at benjaminjdoyle@gmail.com.</p>
                    </div>
                </div>
            </div>
            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-1-4">
                    <img ng-src="/css/assets/devTeam/Alex.jpg" class="img-circle pure-img" />
                </div>
                <div class="pure-u-1 pure-u-md-3-4">
                <div class="aboutPadding">
                    <h2>Alex Gheorghian: Back-End Engineer: Email & SMS APIs</h2>
                    <p>I'm a seasoned Technical Product Manager and Agile Scrum Product Owner with expertise in web and mobile technologies, MBA from a top 20 program, and a strong passion for working with cutting edge technologies.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-8"></div>
    </div>
</div>
