<div class="mainContent">

    <div class="pure-g contact" style="margin-top: 5%;">
        <div class="pure-u-1-1">
            <h1>Email Us</h1>
            <form class="pure-form pure-form-aligned">
                <fieldset>
                    <div class="pure-control-group">
                        <input class="pure-input-1-2" id="name" type="text" ng-model="vm.contactName" placeholder="Name">
                    </div>
                    <div class="pure-control-group">
                    <input class="pure-input-1-2" id="email" type="email" ng-model="vm.contactEmail" placeholder="Email">
                    </div>
                    <div class="pure-control-group">
                    <textarea class="pure-input-1-2" id="message" type="textbox" ng-model="vm.contactMsg" placeholder="Message"></textarea>
                    </div>
                </fieldset>
                <button class="pure-button pure-button-active" ng-click="vm.emailConfirm()">Send Email</button>
            </form>
        </div>
        <div class="pure-u-1-4"></div>
    </div>
</div>
