<div id="viz" class="mainContent">
    <div class="pure-g" id="multiVizData">
        <div class="pure-u-1-4">
            <h4>Bernie Sanders: <br> {{vm.bernie}}</h4>
        </div>
        <div class="pure-u-1-4">
            <h4>Hillary Clinton: <br> {{vm.clinton}}</h4>
        </div>
        <div class="pure-u-1-4">
            <h4>Donald Trump: <br> {{vm.trump}}</h4>
        </div>
        <div class="pure-u-1-4">
            <h4>Marco Rubio: <br> {{vm.rubio}}</h4>
        </div>
    </div>

    <div id="multiViz" class="pure-g">
        <div class="pure-u-1-4 pure-u-md-1-4">
            <img id="bernie" ng-src="/css/assets/Bernie.png">
        </div>
        <div class="pure-u-1-4 pure-u-md-1-4">
            <img id="hillary" ng-src="/css/assets/Hillary.png">
        </div>
        <div class="pure-u-1-4 pure-u-md-1-4">
            <img id="trump" ng-src="/css/assets/Trump.png">
        </div>
        <div class="pure-u-1-4 pure-u-md-1-4">
            <img id="rubio" ng-src="/css/assets/Rubio.png">
        </div>
    </div>
    <div class="pure-g" id="multiVizBtn">
        <div class="pure-u-1-4 pure-u-md-1-4" ng-repeat="candidate in vm.candidates | orderBy: 'id'">
            <button ui-sref="Candidate({id: candidate._id})" class="pure-button pure-button-active">See {{candidate.name}}</button>
        </div>
    </div>
</div>
