<div class="mainContent">
    <h1 style="text-align:center; margin-top: 50px;">Reset Your Password</h1>
    <div class="pure-g">
        <div class="pure-u-1-8"></div>
        <div class="pure-u-3-4" style="text-align:center;">
            <form style="text-align: center; margin-top: 50px;" class="pure-form pure-form-stacked" ng-submit="vm.sendCode()">
                <fieldset>
                    <div style="text-align: center;" class="pure-u-3-8">
                        <label style="font-size: 25px;">Via Email</label>
                        <input style="margin: auto;" id="email1" type="text" placeholder="Email" ng-model="vm.user.email">
                    </div>
                    <div style="text-align: center;" class="pure-u-3-8">
                        <label style="font-size: 25px;">Via Text</label>
                        <input style="margin: auto;" id="phone1" type="text" placeholder="Phone number" ng-model="vm.user.phoneNumber">
                    </div>
                </fieldset>
                <button class="pure-button pure-button-active" type="submit">Send</button>
            </form>
        </div>
        <div class="pure-u-1-8"></div>
    </div>
</div>
