<div class="mainContent">
    <h1 style="text-align: center;margin-top: 5%;">Login</h1>
    <form id="login" class="pure-form pure-form-aligned" ng-submit="nav.login();">
        <fieldset>
            <label for="email">Email</label>
            <div class="pure-control-group">
                <input id="email" type="email" ng-model="nav.user.email" placeholder="Email Required" required>
            </div>
            <label for="password">Password</label>
            <div class="pure-control-group">
                <input id="password" type="password" ng-model="nav.user.password" placeholder="Password Required" required>
            </div>
            <button type="submit" class="pure-button pure-button-active">Sign In</button>
        </fieldset>
    </form>
    <h4 style="text-align: center;">Don't have an account yet? <a ui-sref="Reg">Register here</a>.</h4>
</div>
